@{
    ViewBag.Title = "LearnMore";
}

<h3 style="text-align:left">This application is the place for you to see the Learning Center's class offerings, your enrolled classes, and where you can enroll in a particular class</h3>

