@model HelloWorld.Models.Product

@Model.Name - @Model.Description - @Model.Price


@{
    ViewBag.Title = "Products";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Product</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
