@model List<Class>

@{
    ViewBag.Title = "ClassList";
}

<h2>Class List</h2>

<table class="table" style="text-align:left">
    <tr>
        <th>Class Name</th>
        <th>Class Description</th>
        <th>Class Price</th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClassName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClassDescription)
        </td>
        <td>
            $@Html.DisplayFor(modelItem => item.ClassPrice)
        </td>
    </tr>
}
</table>